body{
    text-align: center;
    background-image:url(/x.svg) ;

}
nav a { 

    text-decoration:  none;
    margin-left: 20px;
    font-weight: bold;
    font-family : 'courier new';

}

#contact-us{
    margin-left:300px;
}
nav{
    width: 100%;
    background-color: white;
    height: 70px ;
    padding-top: 20px ;
    box-shadow: 2px 5px 5px 10px white;
    position: fixed;
    top:0;

}
main{

  /*  margin-top: 200px;*/
    margin: 200px auto 0px auto;
    background-color:rgb(188, 182, 182);
    padding-top: 10px;
    width: 600px;
    border-radius:10px;
    padding-left: 10px;
    padding-bottom: 10px;
    
}
main:hover{
    cursor: pointer;
    background-color: gray;

}
footer{
    background-color: #3d83df;
    width: 600px;
    margin: 40px auto 0px auto;
    padding-top: 10px;
    border-radius: 10px;
    background-color: rgb(33, 172, 236);
    background-image: linear-gradient(rgb(16, 77, 245), white);
    padding-bottom: 10px;

}
input, textarea{
    margin-top: 10px;
    border-radius: 7px;
}

img{
    border-radius: 10%;
}
h1{
    font-weight:"blod";

     color:#010408;
}
h2,h3{
    font-weight:"blod";

     color:#1a4781;
}
ul li{
    list-style: none;
    text-align:center;
}

.profil-items{

    width: 100%;
    background-color: white;
    box-shadow: 2px 5px 5px 10px white;
    height: 70%;
    margin-top: 50px;
}

button{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 5px;
    line-height: 2,4px;
    transition-duration: 0.4s;
    
}

#user{

float: left;
}
#message{
    float: right;
}


